<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Dashboard</span>
    <h3 class="page-title">Escritorio</h3>
  </div>
</div>
<div class="row">
    <div class="col-lg col-md-12 col-sm-12 mb-12">
        <div class="stats-small stats-small--1 card card-small" style="padding: 30px;">
          <div class="card-body p-0 d-flex">
              <span class="stats-small__label text-uppercase">Bienvenidos a Ramina</span>
          </div>
        </div>
      </div>
</div>
<br>
<br>
<div class="row"></div>

<div class="row">
    <div class="col-lg col-md-6 col-sm-6 mb-4">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Posts</span>
              <h6 class="stats-small__value count my-3">2,390</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
            </div>
          </div>
          <canvas height="76" class="blog-overview-stats-small-1 chartjs-render-monitor" width="190" style="display: block; width: 190px; height: 76px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Páginas</span>
              <h6 class="stats-small__value count my-3">182</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
            </div>
          </div>
          <canvas height="76" class="blog-overview-stats-small-2 chartjs-render-monitor" width="190" style="display: block; width: 190px; height: 76px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg col-md-4 col-sm-6 mb-4">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Usuarios </span>
              <h6 class="stats-small__value count my-3">2,413</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
            </div>
          </div>
          <canvas height="76" class="blog-overview-stats-small-4 chartjs-render-monitor" width="190" style="display: block; width: 190px; height: 76px;"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg col-md-4 col-sm-12 mb-4">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Emails</span>
              <h6 class="stats-small__value count my-3">17,281</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--decrease">2.4%</span>
            </div>
          </div>
          <canvas height="76" class="blog-overview-stats-small-5 chartjs-render-monitor" width="190" style="display: block; width: 190px; height: 76px;"></canvas>
        </div>
      </div>
    </div>
  </div>